footer.footer
  div.container
    div.content.has-text-centered
      p Built with #[a(href='http://bulma.io/') Bulma CSS Framework], #[a(href='https://pugjs.org/') Pug JS templates] and #[a(href='https://expressjs.com/') Express JS]
      p Made by Zaifon
