head
  title Aeon Artifact Sheet
  script(src='/static/js/index.js')
  link(rel='stylesheet', href='/static/stylesheet/normalize.css')
  link(rel='stylesheet', href='/static/stylesheet/bulma.css')
  link(rel='stylesheet', href='/static/stylesheet/style.css')
