section.hero
  div.hero-body
    div.container
      h1.title Aeon Artifact table
      h2.subtitle Artifact-related data from the armory
      p This table below contains data sync'd from the armory and API. Data will be sync'd roughly every 6 hours
      br
      div.content
        h1.title.is-4 Known issues
        ul
          li Armory data is off, number of traits and total AP are not always correct
          li Artifact trait level is based off some achievement that checks for your current max trait level
          li All power and levels are based on amount of traits available, this is still buggy from the armory so some people will have bad estimates.
          li Artifact name and spec is based on whatever you were logged out as when this synced information with armory
