table.table
  thead
    tr
      th name
      th level
      th equipped
      th avg ilvl
      th ap
      th traits(lvl)
      th artifact ilvl
      th artifact
      th spec
      th last updated
  tbody
    each char in data
      tr
        td= char.name
        td= char.level
        td= char.equipped_ilvl
        td= char.average_ilvl
        td= char.artifact_power
        td= char.artifact_traits
        td= char.artifact_ilvl
        td= char.artifact_name
        td= char.last_recorded_spec
        td= char.updated_at
